%h2 Books

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Author
      %th Page count
      %th ISBN
      %th Genre
      - if is_user_admin?
        %th
        %th

  %tbody
    - @books.each do |book|
      %tr
        %td= link_to book.title, book
        %td= book.author
        %td= book.page_count
        %td= book.isbn
        %td= raw book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
	

        - if is_user_admin?
          %td= link_to 'Edit', edit_book_path(book)
          %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

- if is_user_admin?
  %br
  = link_to 'New Book', new_book_path, class: "btn btn-primary"
