%h2= @book.title

.row
  .col-md-3
    %h4
      by
      = @book.author
    %p
      %em
        = @book.page_count
        pages

    - if is_user_admin?
      = link_to 'Edit', edit_book_path(@book)
      \|
    = link_to 'Back', root_path

  .col-md-6
    %p= @book.summary

